.section-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    z-index: 99;
    background: rgba(0,0,0,0.6);
    grid-template-columns: 350px 1fr;

    & .menu {
        background: #3E494B;
        padding: 20px;

        & .brand {
            margin-bottom: 20px;
            padding: 10px;

            & img {
                height: 40px;
            }
        }
        & nav {
            & .menu-item {
                display: grid;
                grid-template-columns: 52px 1fr;
                grid-gap: 15px;
                transition: 0.2s ease all;
                border-radius: 4px;

                & .icon {
                    height: 52px;
                    width: 52px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    color: #B1B6B9;
                }
                & .text {
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    background: rgba(255,255,255,0.1);
                    cursor: pointer;
                }
                &:active {
                    background: rgba(255,255,255,0.2);
                }
            }
            & .menu-spacer {
                height: 52px;
            }
        }
    }
    & .closeMenu {
        cursor: pointer;
    }
    &.active {
        display: grid;
    }
}

.section-startup {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    &.active {
        display: flex;
    }

    & .logo {
        width: 300px;
        height: 55px;
    }

    & .loading {
        position: absolute;
        bottom: 25px;
        left: 50%;
        margin-left: -100px;
        justify-self: center;
        height: 5px;
        width: 200px;
        background: rgba(255,255,255,0.2);
        overflow: hidden;
        border-radius: 4px;

        & .state {
            background: rgba(255,255,255,1);
            height: 5px;
            width: 50px;
            border-radius: 4px;
            animation: loadingAnimation 1s ease-in-out infinite;
        }
    }
}

.section-creator {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: auto auto 1fr;

    &.active {
        display: grid;
    }
    & .toolbar {
        background: #3E494B;
        height: 52px;
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: 78px 5fr 78px;

        & .tools {
            display: flex;
            justify-content: center;
        }
        & .toolbar-item {
            height: 52px;
            width: 78px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: #B1B6B9;

            &:not(.active):hover {
                background: #4B5658;
                cursor: pointer;
            }
            &.active {
                background: #596466;
            }
        }
    }
    & .sub-toolbar {
        background: #596466;
        height: 52px;
        display: none;
        position: relative;
        z-index: 10;

        &.active {
            display: grid;
            grid-template-columns: auto auto 1fr;
        }
        & .active-tool {
            height: 52px;
            width: 78px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: #B1B6B9;
        }
        & .divider {
            width: 2px;
            height: 32px;
            background: #4C5557;
            align-self: center;
            border-radius: 2px;
        }
        & .items {
            display: flex;

            & .item {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 10px;
                margin-left: 20px;

                & .text {
                    justify-self: center;
                    align-self: center;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                & input {
                    align-self: center;
                    background: transparent;
                    border: 2px solid rgba(255,255,255,0.4);
                    border-radius: 4px;
                    padding: 5px 10px;
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    width: 200px;
                    transition: 0.2s ease all;

                    &::placeholder {
                        color: rgba(255,255,255,0.6);
                    }
                    &:focus {
                        outline: 0;
                        border: 2px solid rgba(255,255,255,0.8);
                    }
                }
            }
        }
    }
    & .viewer {
        position: relative;

        & .pattern {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -128px;
            margin-top: -128px;
            width: 256px;
            height: 256px;
            background: url('../img/transparent.png');

            & .pixel-grid {
                background: url('../img/pixelgrid.png');
                background-size: cover;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            & canvas {
                image-rendering: pixelated;
                width: 100%;
                height: 100%;
            }
        }

        & .color-palette {
            position: absolute;
            bottom: 25px;
            left: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            & .palette {
                height: 52px;
                border-radius: 52px;
                background: #3E494B;
                display: grid;
                grid-template-columns: auto auto 1fr;

                & .icon {
                    height: 52px;
                    width: 52px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                }
                & .divider {
                    height: 20px;
                    width: 2px;
                    background: #777F80;
                    align-self: center;
                }
                & .colors {
                    padding: 10px 15px;
                    display: grid;
                    grid-template-columns: repeat(16, 1fr);
                    grid-gap: 10px;

                    & .color {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        transition: 0.2s ease all;

                        &.selected {
                            transform: scale(0.75);
                        }
                    }
                }
            }
        }
    }
}

@keyframes loadingAnimation {
    0% {
        transform: translateX(-60px);
        width: 50px;
    }
    100% {
        transform: translateX(210px);
        width: 50px;
    }
}